* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.josedap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header .container {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
header .container .logo a {
  font-size: 1em;
  text-decoration: none;
}
header .container .logo a .fa {
  font-size: 1.5em;
}
header .container .toggle a {
  color: black;
  font-size: 18px;
}
header .container .navbar {
  display: none;
}

.sliderContainer {
  margin-top: -0.5em;
}
.sliderContainer .container .img img {
  width: 100%;
  height: 100%;
}
.sliderContainer .container .img .content {
  position: absolute;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 23px;
  left: 0;
  right: 0;
  margin-top: 25%;
}
.sliderContainer .container .img .content p {
  text-align: center;
}

.about .container {
  margin-top: -10px;
}
.about .container .welcome {
  background: blue;
  height: 12em;
  color: white;
  padding-left: 20px;
  padding-top: 3em;
}
.about .aboutContainer {
  padding-right: 2em;
  padding-left: 2em;
  margin-left: auto;
  margin-right: auto;
}
.about .aboutContainer .text {
  background: white;
  box-shadow: 0px 0px 0px 2px rgba(187, 185, 185, 0.205);
  width: 100%;
  margin-right: auto;
  margin-top: -6em;
  margin-left: auto;
  padding-bottom: 30px;
}
.about .aboutContainer .text h3 {
  padding: 20px;
}
.about .aboutContainer .text p {
  margin-top: 30px;
  line-height: 30px;
  padding: 20px;
}
.about .aboutContainer .text button {
  margin-top: 20px;
  padding: 10px;
  margin-left: 20px;
  background: blue;
  border: 0;
}
.about .aboutContainer .text button a {
  text-decoration: none;
  outline: none;
  color: white;
}
.about .aboutContainer .video {
  width: 100%;
}
.about .aboutContainer .video img {
  width: 100%;
}
.about .totalpeople {
  margin-top: 20px;
  display: flex;
  text-align: center;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.about .totalpeople a {
  font-size: 35px;
  margin-left: 15px;
}
.about .totalpeople h1 {
  margin-left: 20px;
}
.about .totalpeople p {
  margin-left: 20px;
}

.qualified {
  text-align: center;
  padding: 2em;
}
.qualified .container {
  margin-top: 5em;
}
.qualified .container .teacherContainer .text p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.qualified .container .teacherContainer .teacher {
  box-shadow: 1px 1px 2px 2px #b6b4b4;
  padding: 1em;
  margin-top: 20px;
}
.qualified .container .teacherContainer .teacher h4 {
  margin-top: 10px;
}
.qualified .container .teacherContainer .teacher p {
  margin-top: 5px;
  margin-bottom: 10px;
}
.qualified .container .teacherContainer .teacher a {
  font-size: 22px;
  margin: 5px;
}
.qualified .container button {
  padding: 10px;
  margin-top: 15px;
  background: transparent;
  border: 2px solid blue;
  border-radius: 10px;
  outline: none;
}
.qualified .container button a {
  text-decoration: none;
  color: black;
}
.qualified .container button:hover {
  background: blue;
  color: white;
  transition: 2s;
}
.qualified .container button:hover a {
  color: white;
  transition: 2s;
}

.gallaryContainer {
  padding: 2em;
  margin-top: 30px;
}
.gallaryContainer .container h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.gallaryContainer .container p {
  margin-bottom: 30px;
}
.gallaryContainer .container .gallaryContainerOne .gallary p {
  width: 80%;
  background: white;
  margin-left: 0.8em;
  padding: 20px;
  margin-top: -2.5em;
  position: relative;
  box-shadow: 0px 0px 0px 2px rgba(187, 185, 185, 0.37);
}
.gallaryContainer .container .gallaryContainerTwo .gallary p {
  width: 80%;
  background: white;
  margin-left: 0.8em;
  padding: 20px;
  margin-top: -2.5em;
  position: relative;
  box-shadow: 0px 0px 0px 2px rgba(187, 185, 185, 0.37);
}/*# sourceMappingURL=style.css.map */