* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background: linear-gradient(to bottom, #7978783f, #7978783f), url("../image/element5-digital-OyCl7Y4y0Bk-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .container {
  padding: 1em;
}
.header .container .navbar {
  width: 100%;
}
.header .container .navbar .container {
  display: flex;
  justify-content: space-between;
}
.header .container .navbar .container .logo {
  font-size: 18px;
  font-family: "poppins", sans-serif;
  border-radius: 5px;
}
.header .container .navbar .container .logo a {
  text-decoration: none;
  color: blueviolet;
}
.header .container .navbar .container .toggle {
  display: none;
}
.header .container .navbar .container nav .closeToggle {
  display: none;
}
.header .container .navbar .container nav ul {
  display: flex;
}
.header .container .navbar .container nav ul li {
  margin-left: 30px;
  list-style: none;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  padding: 10px;
}
.header .container .navbar .container nav ul li a {
  text-decoration: none;
  color: blueviolet;
}
.header .container .navbar .container nav ul li:hover {
  background: blueviolet;
  color: white;
}
.header .container .navbar .container nav ul li:hover a {
  color: white;
}
.header .container .showcase {
  width: 50%;
  margin-top: 12%;
}
.header .container .showcase h2 {
  font-weight: bold;
  color: white;
  font-family: "Signika Negative", sans-serif;
  font-size: 30px;
}
.header .container .showcase p {
  margin-top: 20px;
  line-height: 25px;
  color: white;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
}
.header .container .showcase button {
  padding: 10px;
  margin-top: 30px;
  background: transparent;
  border: 2px solid blueviolet;
  border-radius: 5px;
  color: white;
}
.header .container .showcase button:hover {
  background: blueviolet;
  transition: 0.8s;
}

main section .aboutContainer {
  display: flex;
}
main section .aboutContainer .about {
  text-align: center;
  background: #d9138a;
  padding: 10px;
  height: 20em;
}
main section .aboutContainer .about .icons {
  margin-top: 3em;
  width: 3vw;
  height: 3vw;
  background: url("../image/icons8-user-50.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
main section .aboutContainer .about h2 {
  margin-top: 30px;
  color: white;
  font-family: "poppins", sans-serif;
}
main section .aboutContainer .about p {
  margin-top: 20px;
  font-family: "Signika Negative", sans-serif;
  color: white;
}
main section .aboutContainer .about:nth-child(2) {
  text-align: center;
  background: #12a4d9;
}
main section .aboutContainer .about:nth-child(2) .icons:nth-child(1) {
  width: 3vw;
  height: 3vw;
  background: url("../image/icons8-book-50.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
main section .aboutContainer .about:nth-child(3) {
  text-align: center;
  background: #d9138a;
}
main section .aboutContainer .about:nth-child(3) .icons:nth-child(1) {
  width: 3vw;
  height: 3vw;
  background: url("../image/icons8-reading-50.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
main section .aboutContainer .about:nth-child(4) {
  text-align: center;
  background: #12a4d9;
}
main section .aboutContainer .about:nth-child(4) .icons:nth-child(1) {
  width: 3vw;
  height: 3vw;
  background: url("../image/icons8-note-50.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
main section .offer {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 5em;
  font-family: "Signika Negative", sans-serif;
}
main section .offer .text {
  text-align: center;
}
main section .offer .text h2 {
  font-size: 30px;
}
main section .offer .text p {
  margin-top: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
main section .offer .activityContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 0;
}
main section .offer .activityContainer .activities {
  display: flex;
  margin-top: 1em;
  background: transparent;
  border: 2px solid rgba(197, 194, 194, 0.781);
  padding: 1em;
  border-radius: 5px;
  margin-left: 30px;
}
main section .offer .activityContainer .activities .img {
  width: 3vw;
  height: 3vw;
  background: url("../image/icons8-check-mark-64.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main section .offer .activityContainer .activities .activitiesText {
  margin-left: 20px;
}
main #for {
  background: linear-gradient(to bottom, #d9138aa6, #d9138aa6), url("../image/janko-ferlic-sfL_QOnmy00-unsplash (1).jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5em;
}
main #for .for {
  padding: 3em;
}
main #for .for .videoTextContainer {
  display: flex;
  justify-content: space-between;
}
main #for .for .videoTextContainer .video {
  width: 80vw;
  height: 30vw;
  background: red;
}
main #for .for .videoTextContainer .text {
  width: 80%;
  margin-left: 30px;
  color: white;
  font-family: "poppins", sans-serif;
}
main #for .for .videoTextContainer .text h2 {
  font-size: 40px;
  font-weight: bold;
}
main #for .for .videoTextContainer .text p {
  margin-top: 20px;
  font-size: 18px;
}
main #for .for .videoTextContainer .text p span {
  display: block;
  margin-top: 20px;
}
main #for .for .count {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 2em;
  font-family: "Signika Negative", sans-serif;
}
main #for .for .count #count {
  display: block;
}
main #for .for .count #count h2 {
  font-size: 35px;
  color: white;
}
main #for .for .count #count p {
  color: white;
  font-size: 18px;
}
main #teachers .container {
  text-align: center;
  margin-top: 8em;
}
main #teachers .container h2 {
  font-weight: bold;
  font-family: "poppins", sans-serif;
  font-size: 35px;
}
main #teachers .container p {
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
}
main #teachers .container .teacherContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2em;
}
main #teachers .container .teacherContainer .teacher {
  padding: 3em 3em;
}
main #teachers .container .teacherContainer .teacher .image {
  width: 12vw;
  height: 12vw;
  background: url("../image/person_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
main #teachers .container .teacherContainer .teacher h3 {
  margin-top: 10px;
  font-size: 23px;
}
main #teachers .container .teacherContainer .teacher p {
  margin-top: 2px;
}
main #teachers .container .teacherContainer .teacher .social {
  font-size: 25px;
  margin-top: 10px;
}
main #teachers .container .teacherContainer .teacher .social a {
  margin-left: 5px;
}
main #teachers .container .teacherContainer .teacher:nth-child(2) .image:nth-child(1) {
  background: url("../image/person_2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main #teachers .container .teacherContainer .teacher:nth-child(3) .image:nth-child(1) {
  background: url("../image/person_3.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main #teachers .container .teacherContainer .teacher:nth-child(4) .image:nth-child(1) {
  background: url("../image/person_5.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main #gallary {
  text-align: center;
  font-family: "Signika Negative", sans-serif;
  padding: 2em;
  margin-top: 5em;
}
main #gallary .container h2 {
  font-size: 35px;
}
main #gallary .container p {
  font-size: 18px;
  margin-top: 20px;
}
main #gallary .container .gallaryContainer {
  display: flex;
  margin-top: 2em;
}
main #gallary .container .gallaryContainer .gallary {
  border: 1px solid #777;
}
main #gallary .container .gallaryContainer .gallary .gallaryImg {
  width: 100%;
  height: 15vw;
  background: url("../image/bill-oxford-tR0PPLuN6Pw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main #gallary .container .gallaryContainer .gallary .gallaryText {
  padding: 1em;
}
main #gallary .container .gallaryContainer .gallary:nth-child(2) {
  margin-left: 10px;
}
main #gallary .container .gallaryContainer .gallary:nth-child(2) .gallaryImg {
  width: 100%;
  height: 15vw;
  background: url("../image/janko-ferlic-sfL_QOnmy00-unsplash (1).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main #gallary .container .gallaryContainer .gallary:nth-child(3) {
  margin-left: 10px;
}
main #gallary .container .gallaryContainer .gallary:nth-child(3) .gallaryImg {
  width: 100%;
  height: 15vw;
  background: url("../image/brooke-cagle--uHVRvDr7pg-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main #gallary .container .gallaryContainer .gallary:nth-child(4) {
  margin-left: 10px;
}
main #gallary .container .gallaryContainer .gallary:nth-child(4) .gallaryImg {
  width: 100%;
  height: 15vw;
  background: url("../image/element5-digital-OyCl7Y4y0Bk-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main #gallary .container .gallaryContainerTwo {
  display: flex;
  margin-top: 3em;
}
main #gallary .container .gallaryContainerTwo .gallary {
  border: 1px solid #777;
}
main #gallary .container .gallaryContainerTwo .gallary .gallaryImg {
  width: 100%;
  height: 15vw;
  background: url("../image/element5-digital-OyCl7Y4y0Bk-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main #gallary .container .gallaryContainerTwo .gallary .gallaryText {
  padding: 1em;
}
main #gallary .container .gallaryContainerTwo .gallary:nth-child(2) {
  margin-left: 10px;
}
main #gallary .container .gallaryContainerTwo .gallary:nth-child(2) .gallaryImg {
  width: 100%;
  height: 15vw;
  background: url("../image/brooke-cagle--uHVRvDr7pg-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main #gallary .container .gallaryContainerTwo .gallary:nth-child(3) {
  margin-left: 10px;
}
main #gallary .container .gallaryContainerTwo .gallary:nth-child(3) .gallaryImg {
  width: 100%;
  height: 15vw;
  background: url("../image/janko-ferlic-sfL_QOnmy00-unsplash (1).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main #gallary .container .gallaryContainerTwo .gallary:nth-child(4) {
  margin-left: 10px;
}
main #gallary .container .gallaryContainerTwo .gallary:nth-child(4) .gallaryImg {
  width: 100%;
  height: 15vw;
  background: url("../image/brooke-cagle--uHVRvDr7pg-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main #gallary .container button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  color: white;
  margin-top: 30px;
  text-align: right;
  background: blueviolet;
  cursor: pointer;
}
main #contact {
  margin-top: 5em;
  margin-bottom: 0;
}
main #contact .container {
  padding: 1em;
}
main #contact .container h2 {
  font-size: 35px;
  font-family: "Signika Negative", sans-serif;
  text-align: center;
}
main #contact .container p {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-family: "Signika Negative", sans-serif;
}
main #contact .container .form {
  display: flex;
  justify-content: space-between;
  font-family: "Signika Negative", sans-serif;
  margin-top: 2em;
}
main #contact .container .form form {
  margin-left: 20px;
}
main #contact .container .form form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}
main #contact .container .form form input {
  padding: 10px;
  width: 34vw;
}
main #contact .container .form form textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 12px;
  font-size: 15px;
  width: 34vw;
}
main #contact .container .form form button {
  padding: 10px 25px;
  border: 2px solid #d9138a;
  border-radius: 10px;
  margin-top: 10px;
  background: white;
}
main #contact .container .form form button:hover {
  color: white;
  background: #d9138a;
  transition: 0.8s;
  font-family: "Signika Negative", sans-serif;
}
main #contact .container .form .map {
  width: 50%;
  margin-right: 20px;
  height: 50vw;
}
main #contact .container .form .map iframe {
  width: 100%;
  height: 30vw;
}

footer {
  width: 100%;
  height: 18em;
  background: red;
  font-family: "Signika Negative", sans-serif;
  margin-bottom: 0;
  bottom: 0;
}
footer .container {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
footer .container .footerText {
  margin-top: 1em;
  margin-left: 1em;
}
footer .container .footerText .logo a {
  font-size: 20px;
  text-decoration: none;
  font-family: "Signika Negative", sans-serif;
  color: white;
}
footer .container .footerText p {
  margin-top: 20px;
  color: white;
  font-family: "Signika Negative", sans-serif;
}
footer .container .footerText .social {
  margin-top: 20px;
  font-size: 30px;
}
footer .container .footerText .social a {
  color: white;
}
footer .container .upadate {
  margin-right: 12em;
  margin-top: 1em;
  color: white;
  font-family: "Signika Negative", sans-serif;
}
footer .container .upadate input {
  margin-top: 20px;
  padding: 10px 15px;
  border: 0;
  border-radius: 20px;
  outline: none;
}

@media (max-width: 750px) {
  .header .container .navbar {
    width: 50%;
  }
  .header .container .navbar .container .toggle {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 20px;
    margin-top: 5px;
  }
  .header .container .navbar .container .toggle a {
    color: black;
  }
  .header .container .navbar .container nav {
    background: blueviolet;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding-top: 1em;
    z-index: 999;
    display: none;
  }
  .header .container .navbar .container nav .closeToggle {
    display: block;
    margin-left: 10px;
    font-size: 18px;
  }
  .header .container .navbar .container nav .closeToggle a {
    color: white;
  }
  .header .container .navbar .container nav ul {
    text-align: left;
    display: block;
    margin-top: 20px;
  }
  .header .container .navbar .container nav ul li {
    padding: 10px 10px;
    margin-left: 0;
  }
  .header .container .navbar .container nav ul li a {
    color: white;
  }
  .header .container .navbar .container nav ul li:hover {
    background: rgba(156, 156, 156, 0.521);
  }
  .header .container .showcase {
    width: 100%;
    margin-top: 23%;
  }

  main section .aboutContainer {
    display: block;
  }
  main section .aboutContainer .about {
    height: 50vw;
  }
  main section .aboutContainer .about .icons {
    width: 10vw;
    height: 10vw;
  }
  main section .aboutContainer .about:nth-child(2) {
    height: 50vw;
  }
  main section .aboutContainer .about:nth-child(2) .icons:nth-child(1) {
    width: 10vw;
    height: 10vw;
  }
  main section .aboutContainer .about:nth-child(3) {
    height: 50vw;
  }
  main section .aboutContainer .about:nth-child(3) .icons:nth-child(1) {
    width: 10vw;
    height: 10vw;
  }
  main section .aboutContainer .about:nth-child(4) {
    height: 50vw;
  }
  main section .aboutContainer .about:nth-child(4) .icons:nth-child(1) {
    width: 10vw;
    height: 10vw;
  }
  main section .offer .text p {
    width: 100%;
  }
  main section .offer .activityContainer {
    display: block;
    padding-left: 0em;
    margin-top: 20px;
  }
  main section .offer .activityContainer .activities {
    width: 100%;
    margin-left: 0;
  }
  main section .offer .activityContainer .activities .img {
    display: none;
  }
  main #for .for {
    padding-left: 0;
  }
  main #for .for .videoTextContainer {
    display: block;
  }
  main #for .for .videoTextContainer .video {
    height: 50vw;
    margin-left: 30px;
  }
  main #for .for .videoTextContainer .text {
    width: 100%;
    margin-top: 20px;
  }
  main #for .for .count {
    display: block;
    margin-left: 50px;
    padding-top: 0;
  }
  main #for .for .count #count {
    margin-top: 40px;
  }
  main #teacher .container .teacherContainer {
    display: block;
    padding: 1em;
  }
  main #teacher .container .teacherContainer .teacher {
    background: transparent;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  main #teacher .container .teacherContainer .teacher .image {
    width: 25vw;
    height: 25vw;
  }
  main #gallary .container .gallaryContainer {
    display: none;
  }
  main #gallary .container .gallaryContainerTwo {
    display: block;
  }
  main #gallary .container .gallaryContainerTwo .gallary .gallaryImg {
    height: 50vw;
  }
  main #gallary .container .gallaryContainerTwo .gallary:nth-child(2) {
    margin-left: 0;
    margin-top: 10px;
  }
  main #gallary .container .gallaryContainerTwo .gallary:nth-child(2) .gallaryImg {
    height: 50vw;
  }
  main #gallary .container .gallaryContainerTwo .gallary:nth-child(3) {
    margin-left: 0;
    margin-top: 10px;
  }
  main #gallary .container .gallaryContainerTwo .gallary:nth-child(3) .gallaryImg {
    height: 50vw;
  }
  main #gallary .container .gallaryContainerTwo .gallary:nth-child(4) {
    margin-left: 0;
    margin-top: 10px;
  }
  main #gallary .container .gallaryContainerTwo .gallary:nth-child(4) .gallaryImg {
    height: 50vw;
  }
  main #contact .container .form {
    display: block;
  }
  main #contact .container .form form {
    margin-left: 0;
    width: 90%;
  }
  main #contact .container .form form input {
    width: 100%;
  }
  main #contact .container .form form textarea {
    width: 100%;
  }
  main #contact .container .form .map {
    margin-top: 20px;
    width: 95%;
  }
  main #contact .container .form .map iframe {
    height: 50vw;
  }

  footer {
    margin-top: 50px;
  }
  footer .container .upadate {
    margin-right: 0;
  }
}/*# sourceMappingURL=style.css.map */