*{
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
}

.header{
    height: 100vh;
    background: url("../image/element5-digital-OyCl7Y4y0Bk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .container{
        padding: 1em;

        .navbar{
            width: 100%;
            .container{
                display: flex;
                justify-content: space-between;
    
                .logo{
                    font-size: 15px;
                    font-family: "poppins", sans-serif;
                    border: 3px solid black;
                    padding: 5px;
                    border-radius: 5px;
    
                    a{
                        text-decoration: none;
                    }
                }
    
                .toggle{
                    display: none;
                }
    
                nav{
                    .closeToggle{
                        display: none;
                    }
                    ul{
                        display: flex;
    
                        li{
                            margin-left: 30px;
                            list-style: none;
                            font-family: "poppins", sans-serif;
                            font-size: 16px;
    
                            a{
                                text-decoration: none;
                            }
                        }
                    }
                }
    
            }

        }


        .showcase{
            width: 50%;
            margin-top: 12%;

            h2{
                font-weight: bold;
                color: white;
                font-family: 'Signika Negative', sans-serif;
                font-size: 30px;
            }

            p{
                margin-top: 20px;
                line-height: 25px;
                color: white;
                font-family: 'Signika Negative', sans-serif;
                font-size: 18px;
            }

            button{
                padding: 10px;
                margin-top: 30px;
                background: transparent;
                border: 2px solid blueviolet;
                border-radius: 5px;
                color: white;
                
            }

            button:hover{
                background: blueviolet;
                transition: 0.8s;
            }
        }
    }

}

main{

    section{

        .aboutContainer{
            display: flex;

            .about{
                text-align: center;
                background: #d9138a;
                padding: 10px;
                height: 20em;

                .icons{
                    margin-top: 3em;
                    width: 3vw;
                    height: 3vw;
                    background: url("../image/icons8-user-50.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: auto;
                    margin-right: auto;
                }

                h2{
                    margin-top: 30px;
                    color:white;
                    font-family: 'poppins', sans-serif;
                }

                p{
                    margin-top: 20px;
                    font-family: 'Signika Negative', sans-serif;
                    color: white;
                }

            }

            .about:nth-child(2){
                text-align: center;
                background: #12a4d9;
                .icons:nth-child(1){
                    width: 3vw;
                    height: 3vw;
                    background: url("../image/icons8-book-50.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: auto;
                    margin-right: auto;
                }

            }

            .about:nth-child(3){
                text-align: center;
                background: #d9138a;
                .icons:nth-child(1){
                    width: 3vw;
                    height: 3vw;
                    background: url("../image/icons8-reading-50.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: auto;
                    margin-right: auto;
                }

            }

            .about:nth-child(4){
                text-align: center;
                background: #12a4d9;
                .icons:nth-child(1){
                    width: 3vw;
                    height: 3vw;
                    background: url("../image/icons8-note-50.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: auto;
                    margin-right: auto;
                }


            }
        }
    }

    section{
        .offer{
            padding-left: 1em;
            padding-right: 1em;
            margin-top: 5em;
            font-family: 'Signika Negative', sans-serif;
            .text{
                text-align: center;

                h2{
                    font-size: 30px;
                }

                p{
                    margin-top: 15px;
                    width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 15px;
                }
            }

            .activityContainer{
                display: flex;
                justify-content: space-between;
                padding-left: 2em;
                padding-right: 2em;
                margin-left: 0;

                .activities{
                    display: flex;
                    margin-top: 1em;
                    background: transparent;
                    border: 2px solid rgba(197, 194, 194, 0.781);
                    padding: 1em;
                    border-radius: 5px;
                    margin-left: 30px;
                    .img{
                        width: 3vw;
                        height: 3vw;
                        background: url("../image/icons8-check-mark-64.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .activitiesText{
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    #for{
        background: linear-gradient(to bottom, #d9138aa6, 
        #d9138aa6),url("../image/janko-ferlic-sfL_QOnmy00-unsplash\ \(1\).jpg");
        width: 100%;
        background-position: center;
        background-size: cover; 
        background-repeat: no-repeat;
        margin-top: 5em;
        .for{
           padding: 3em;

            .videoTextContainer{
                display: flex;
                justify-content: space-between;

                .video{
                    width: 80vw;
                    height: 30vw;
                    background: red;
                }

                .text{
                    width: 80%;
                    margin-left: 30px;
                    color: white;
                    font-family: 'poppins', sans-serif;
                    
                    h2{
                        font-size: 40px;
                        font-weight: bold;
                    }

                    p{
                        margin-top: 20px;
                        font-size: 18px;

                        span{
                            display: block;
                            margin-top: 20px;
                        }
                    }
                }
            }

            .count{
                display: flex;
                text-align: center;
                justify-content: space-between;
                margin-top: 50px;
                padding: 2em;
                font-family: 'Signika Negative', sans-serif;

                #count{

                    h2{
                        font-size: 35px;
                        color: white;
                    }

                    p{
                        color: white;
                        font-size: 18px;
                    }
                }
            }

        }
    }


}

@media(max-width: 750px){
    .header{

        .container{

            .navbar{
                width: 50%;

               .container{
                    .toggle{
                        display: block;
                        position: absolute;
                        right: 20px;
                        font-size: 20px;
                        margin-top: 5px;
                    }

                    nav{
                        background: blueviolet;
                        position: fixed;
                        top: 0;
                        width: 100%;
                        left: 0;
                        padding-top: 1em;
                        z-index: 999;
                        display: none;

                        .closeToggle{
                            display: block;
                            margin-left: 10px;
                            font-size: 18px;

                            a{
                                color: white;
                            }
                        }

                        ul{
                            text-align: left;
                            display: block;
                            margin-top: 20px;

                            li{
                                padding: 10px 10px;
                                margin-left: 0;
                                a{
                                    color: white;
                                }
                            }

                            li:hover{
                                background: rgba(156, 156, 156, 0.521);
                            }
                        }
                    }
               }
            }

            .showcase{
                width: 100%;
                margin-top: 23%;
            }
        }
    }

    main{
        section{
            .aboutContainer{
                display: block;

                .about{
                    height: 50vw;

                    .icons{
                        width: 10vw;
                        height: 10vw;
                    }
                }

                .about:nth-child(2){
                    height: 50vw;

                    .icons:nth-child(1){
                        width: 10vw;
                        height: 10vw;
                    }
                }

                .about:nth-child(3){
                    height: 50vw;

                    .icons:nth-child(1){
                        width: 10vw;
                        height: 10vw;
                    }
                }

                .about:nth-child(4){
                    height: 50vw;

                    .icons:nth-child(1){
                        width: 10vw;
                        height: 10vw;
                    }
                }   
            }
        }

        section{
            .offer{
                
                .text{
                    p{
                        width: 100%;
                    }
                }

                .activityContainer{
                    display: block;
                    padding-left: 0em;
                    margin-top: 20px;
                    .activities{
                        width: 100%;
                        margin-left: 0;

                        .img{
                            display: none;
                        }
                    }
                }
            }
        }

        #for{
            
            .for{
                padding-left: 0;
                .videoTextContainer{
                    display: block;
                    .video{
                        height: 50vw;
                        margin-left: 30px;
                    }

                    .text{
                        width: 100%;
                        margin-top: 20px;
                    }
                }

                .count{
                    display: block;
                }
            }

        }
    }
}
