*{
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
}

.header{
    height: 100vh;
    background: url("../image/element5-digital-OyCl7Y4y0Bk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .container{
        padding: 1em;

        .navbar{
            width: 100%;
            .container{
                display: flex;
                justify-content: space-between;
    
                .logo{
                    font-size: 15px;
                    font-family: "poppins", sans-serif;
                    border: 3px solid black;
                    padding: 5px;
                    border-radius: 5px;
    
                    a{
                        text-decoration: none;
                    }
                }
    
                .toggle{
                    display: none;
                }
    
                nav{
                    .closeToggle{
                        display: none;
                    }
                    ul{
                        display: flex;
    
                        li{
                            margin-left: 30px;
                            list-style: none;
                            font-family: "poppins", sans-serif;
                            font-size: 16px;
    
                            a{
                                text-decoration: none;
                            }
                        }
                    }
                }
    
            }

        }


        .showcase{
            width: 50%;
            margin-top: 12%;

            h2{
                font-weight: bold;
                color: white;
                font-family: 'Signika Negative', sans-serif;
                font-size: 30px;
            }

            p{
                margin-top: 20px;
                line-height: 25px;
                color: white;
                font-family: 'Signika Negative', sans-serif;
                font-size: 18px;
            }

            button{
                padding: 10px;
                margin-top: 30px;
                background: transparent;
                border: 2px solid blueviolet;
                border-radius: 5px;
                color: white;
                
            }

            button:hover{
                background: blueviolet;
                transition: 0.8s;
            }
        }
    }

}

main{

    section{

        .aboutContainer{
            display: flex;

            .about{
                text-align: center;
                background: #d9138a;
                padding: 10px;
                height: 20em;

                .icons{
                    margin-top: 3em;
                    width: 3vw;
                    height: 3vw;
                    background: url("../image/icons8-user-50.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: auto;
                    margin-right: auto;
                }

                h2{
                    margin-top: 30px;
                    color:white;
                    font-family: 'poppins', sans-serif;
                }

                p{
                    margin-top: 20px;
                    font-family: 'Signika Negative', sans-serif;
                    color: white;
                }

            }

            .about:nth-child(2){
                text-align: center;
                background: #12a4d9;
                .icons:nth-child(1){
                    width: 3vw;
                    height: 3vw;
                    background: url("../image/icons8-book-50.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: auto;
                    margin-right: auto;
                }

            }

            .about:nth-child(3){
                text-align: center;
                background: #d9138a;
                .icons:nth-child(1){
                    width: 3vw;
                    height: 3vw;
                    background: url("../image/icons8-reading-50.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: auto;
                    margin-right: auto;
                }

            }

            .about:nth-child(4){
                text-align: center;
                background: #12a4d9;
                .icons:nth-child(1){
                    width: 3vw;
                    height: 3vw;
                    background: url("../image/icons8-note-50.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: auto;
                    margin-right: auto;
                }


            }
        }
    }

    section{
        .offer{
            padding-left: 1em;
            padding-right: 1em;
            margin-top: 5em;
            font-family: 'Signika Negative', sans-serif;
            .text{
                text-align: center;

                h2{
                    font-size: 30px;
                }

                p{
                    margin-top: 15px;
                    width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 15px;
                }
            }

            .activityContainer{
                display: flex;
                justify-content: space-between;
                padding-left: 2em;
                padding-right: 2em;
                margin-left: 0;

                .activities{
                    display: flex;
                    margin-top: 1em;
                    background: transparent;
                    border: 2px solid rgba(197, 194, 194, 0.781);
                    padding: 1em;
                    border-radius: 5px;
                    margin-left: 30px;
                    .img{
                        width: 3vw;
                        height: 3vw;
                        background: url("../image/icons8-check-mark-64.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .activitiesText{
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    #for{
        background: linear-gradient(to bottom, #d9138aa6, 
        #d9138aa6),url("../image/janko-ferlic-sfL_QOnmy00-unsplash\ \(1\).jpg");
        width: 100%;
        background-position: center;
        background-size: cover; 
        background-repeat: no-repeat;
        margin-top: 5em;
        .for{
           padding: 3em;

            .videoTextContainer{
                display: flex;
                justify-content: space-between;

                .video{
                    width: 80vw;
                    height: 30vw;
                    background: red;
                }

                .text{
                    width: 80%;
                    margin-left: 30px;
                    color: white;
                    font-family: 'poppins', sans-serif;
                    
                    h2{
                        font-size: 40px;
                        font-weight: bold;
                    }

                    p{
                        margin-top: 20px;
                        font-size: 18px;

                        span{
                            display: block;
                            margin-top: 20px;
                        }
                    }
                }
            }

            .count{
                display: flex;
                text-align: center;
                justify-content: space-between;
                margin-top: 50px;
                padding: 2em;
                font-family: 'Signika Negative', sans-serif;

                

                #count{
                    display: block;
                    h2{
                        font-size: 35px;
                        color: white;
                    }

                    p{
                        color: white;
                        font-size: 18px;
                    }
                }
            }

        }
    }

    #teacher{
        .container{
            text-align: center;
            margin-top: 8em;

            h2{
                font-weight: bold;
                font-family: 'poppins', sans-serif;
                font-size: 35px;
            }

            p{
                font-family: 'Signika Negative', sans-serif;
                font-size: 18px;
            }

            .teacherContainer{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                margin-top: 2em;
                

                .teacher{
                    padding: 3em 3em;

                    .image{
                        width: 12vw;
                        height: 12vw;
                        background: url("../image/person_1.jpg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        border-radius: 50%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    h3{
                        margin-top: 10px;
                        font-size: 23px;
                    }

                    p{
                        margin-top: 2px;
                    }

                    .social{
                        font-size: 25px;
                        margin-top: 10px;

                        a{
                            margin-left: 5px;
                        }
                    }
                }

                .teacher:nth-child(2){

                    .image:nth-child(1){
                        background: url("../image/person_2.jpg");
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                .teacher:nth-child(3){

                    .image:nth-child(1){
                        background: url("../image/person_3.jpg");
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                .teacher:nth-child(4){

                    .image:nth-child(1){
                        background: url("../image/person_5.jpg");
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }

    }

    #contact{
            margin-top: 3em;
            
        .container{
            padding: 1em;

            h2{
                font-size: 30px;
                font-family: 'Signika Negative', sans-serif;
                text-align: center;
            }

            p{
                margin-top: 10px;
                text-align: center;
                font-size: 18px;
                font-family: 'Signika Negative', sans-serif;
            }

           .form{
               display: flex;
               justify-content: space-between;
               font-family: 'Signika Negative', sans-serif;
               margin-top: 2em;
                form{
                    margin-left: 20px;
                    label{
                        display: block;
                        margin-bottom: 5px;
                        margin-top: 5px;
                    }

                    input{
                        padding: 10px;
                        width: 34vw;
                    }

                    textarea{
                        display: block;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        padding: 12px;
                        font-size: 15px;
                        width: 34vw;
                    }

                    button{
                        padding: 10px 25px;
                        border: 2px solid #d9138a;
                        border-radius: 10px;
                        margin-top: 10px;
                        background: white;
                    }


                    button:hover{
                        color: white;
                        background: #d9138a;
                        transition: 0.8s;
                        font-family: 'Signika Negative', sans-serif;
                    }
                }

                .map{
                    width: 50%;
                    margin-right: 20px;
                    iframe{
                        width: 100%;
                        height: 30vw;
                    }
                }
           }
        }
    }


}

footer{
    width: 100%;
    height: 5vw;
    background: blueviolet;
    text-align: center;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    margin-top: 30px;

    p{
        padding-top: 25px;
    }
}

@media(max-width: 750px){
    .header{

        .container{

            .navbar{
                width: 50%;

               .container{
                    .toggle{
                        display: block;
                        position: absolute;
                        right: 20px;
                        font-size: 20px;
                        margin-top: 5px;
                        
                        a{
                            color: black;
                        }
                    }

                    nav{
                        background: blueviolet;
                        position: fixed;
                        top: 0;
                        width: 100%;
                        left: 0;
                        padding-top: 1em;
                        z-index: 999;
                        display: none;

                        .closeToggle{
                            display: block;
                            margin-left: 10px;
                            font-size: 18px;

                            a{
                                color: white;
                            }
                        }

                        ul{
                            text-align: left;
                            display: block;
                            margin-top: 20px;

                            li{
                                padding: 10px 10px;
                                margin-left: 0;
                                a{
                                    color: white;
                                }
                            }

                            li:hover{
                                background: rgba(156, 156, 156, 0.521);
                            }
                        }
                    }
               }
            }

            .showcase{
                width: 100%;
                margin-top: 23%;
            }
        }
    }

    main{
        section{
            .aboutContainer{
                display: block;

                .about{
                    height: 50vw;

                    .icons{
                        width: 10vw;
                        height: 10vw;
                    }
                }

                .about:nth-child(2){
                    height: 50vw;

                    .icons:nth-child(1){
                        width: 10vw;
                        height: 10vw;
                    }
                }

                .about:nth-child(3){
                    height: 50vw;

                    .icons:nth-child(1){
                        width: 10vw;
                        height: 10vw;
                    }
                }

                .about:nth-child(4){
                    height: 50vw;

                    .icons:nth-child(1){
                        width: 10vw;
                        height: 10vw;
                    }
                }   
            }
        }

        section{
            .offer{
                
                .text{
                    p{
                        width: 100%;
                    }
                }

                .activityContainer{
                    display: block;
                    padding-left: 0em;
                    margin-top: 20px;
                    .activities{
                        width: 100%;
                        margin-left: 0;

                        .img{
                            display: none;
                        }
                    }
                }
            }
        }

        #for{
            
            .for{
                padding-left: 0;
                .videoTextContainer{
                    display: block;
                    .video{
                        height: 50vw;
                        margin-left: 30px;
                    }

                    .text{
                        width: 100%;
                        margin-top: 20px;
                    }
                }

                .count{
                    display: block;
                    margin-left: 50px;
                    padding-top: 0;
                    #count{
                       margin-top: 40px;
                    }
                }
            }

        }

        #teacher{

            .container{

                .teacherContainer{
                    display: block;
                    padding: 1em; 

                    .teacher{
                        background: transparent;  
                        margin-top: 20px;   
                        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                        .image{
                            width: 25vw;
                            height: 25vw;
                        }
                    }
                }
            }
        }

        #contact{

            .container{

                .form{
                    display: block;
                    
                    form{
                        margin-left: 0;
                        width: 90%;
                        input{
                            width: 100%;
                        }

                        textarea{
                            width: 100%;
                        }
                    }

                    .map{
                        margin-top: 20px;
                        width: 95%;
                        
                        iframe{
                            height: 50vw;
                        }
                    }
                }
            }
        }

    }
}
