* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
  
body {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.header {
    height: 100vh;
    background: linear-gradient(to bottom, #7978783f, 
    #7978783f),url("../image/charles-deloye-2RouMSg9Rnw-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .container {
    padding: 1em;
}

.header .container .navbar {
    width: 100%;
}

.header .container .navbar .container {
    display: flex;
    justify-content: space-between;
}

.header .container .navbar .container .logo {
    font-size: 18px;
    font-family: "poppins", sans-serif;
    border-radius: 5px;
}

.header .container .navbar .container .logo a {
    text-decoration: none;
    color: white;
}

.header .container .navbar .container .toggle {
    display: none;
}

.header .container .navbar .container nav .closeToggle {
    display: none;
}

.header .container .navbar .container nav ul {
    display: flex;
}

.header .container .navbar .container nav ul li {
    margin-left: 30px;
    list-style: none;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    padding: 10px;
}

.header .container .navbar .container nav ul li a {
    text-decoration: none;
    color: white;
}
  
.header .container .navbar .container nav ul li:hover {
    background: blueviolet;
    color: white;
}

.header .container .navbar .container nav ul li:hover a {
    color: white;
}

.header .container .showcase {
    width: 50%;
    margin-top: 12%;
}

.header .container .showcase h2 {
    font-weight: bold;
    color: white;
    font-family: "Signika Negative", sans-serif;
    font-size: 30px;
}

.header .container .showcase p {
    margin-top: 20px;
    line-height: 25px;
    color: white;
    font-family: "Signika Negative", sans-serif;
    font-size: 18px;
}

.header .container .showcase button {
    padding: 10px;
    margin-top: 30px;
    background: transparent;
    border: 2px solid blueviolet;
    border-radius: 5px;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.header .container .showcase button:hover {
    background: blueviolet;
    transition: 0.8s;
}

main .school{
    display: grid;
    grid-gap: 10px;
}

main .school #img{
    padding: 20px;
    background: red;
}

.img1{
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 20vw;
}

.img2{
    grid-column: 3;
    grid-row: 1 / span 2;
}

.img3{
    height: 30vw;
}

.img5{
    grid-column: 1 / span 3;
    grid-row: 3;
    height: 10vw;
}
